################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task4_JankenApp/.vs/Task4_JankenApp.slnx/FileContentIndex
/.gitignore
/.vs/JankenApp.slnx/FileContentIndex/0ba38d2e-c127-4432-bb89-73a88515a701.vsidx
/.vs/JankenApp.slnx/FileContentIndex/7e9d613b-9659-45c1-b302-16d0daaca635.vsidx
/.vs/JankenApp.slnx/FileContentIndex/ef45a72d-a570-435b-9cee-4424c0b06524.vsidx
/.vs/JankenApp.slnx/FileContentIndex
